.featured {
    text-align: center;
    padding: 128px 0;
    &__title {
        font-size: 24px;
        color: $green;
        text-transform: uppercase;
    }

    &__slider {
    }

    &__wrapper {
    }

    &__slide {     
        width: auto !important; 
    }
}
.swiper-wrapper{
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}