$bg :#171717;
$gradient: linear-gradient(114.68deg, #3333F5 27.1%, #3381F5 66.15%, #3381F5 100%);
$white-bg:#E5E5E5;
$white: #fff;
$green:#7DFB5D;
$black:#000000;
$gray: #ACACAC;
$purple:#3333F5;